$def with (title, content)
<!DOCTYPE HTML PUBLIC '-//W3C//DTD HTML 4.01//EN' 'http://www.w3.org/tr/html4/strict.dtd'> 
<html lang="zh-tw"> 
<head> 
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
<title>$title</title>
<style type="text/css">
$:css

</style>
<script language="javascript">
function next_slide() {
    var next = document.getElementById("next")
    window.location = next.value;
}
function prev_slide() {
    var prev = document.getElementById("prev")
    window.location = prev.value;
}
//偵測瀏覽器版本
var browser = navigator.appName;
var PageUp  = 33
var PageDown= 34
if(browser=="Netscape"){    //如果瀏覽器為Netscape或者Firefox
    //開始監聽鍵盤事件
    document.captureEvents(Event.KEYDOWN)
    document.onkeydown=function(event){
        if(event.which==PageDown){

            next_slide()
        }
        else if(event.which==PageUp){
            prev_slide()
        }
    }
} else {//假設瀏覽器不為Nescape則猜測為ie
     //開始監聽鍵盤事件
    document.onkeydown = function(){
        e = window.event
        if(e.keyCode==PageDown){
            next_slide()
        }
        else if(e.keyCode==PageUp){
            prev_slide()
        }
    }
}
</script>
</head>
<body>
<div id="content">
$:content
</div>
</body>
</html>
