$def with (title, content, sect1_list, sect2_list)
<!DOCTYPE HTML PUBLIC '-//W3C//DTD HTML 4.01//EN' 'http://www.w3.org/tr/html4/strict.dtd'> 
<html lang="zh-tw"> 
<head> 
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
<link rel="stylesheet" href="/css/web.css" />
<title>$title</title>
</head>
<body>
<div id="sect1_list">
$:sect1_list
</div>
<div id="sidebar">
$:sect2_list
</div>
<div id="rightbar">
<script type="text/javascript"><!--
google_ad_client = "pub-7516968926110807";
/* Structed text left vertical unit */
google_ad_slot = "5496674888";
google_ad_width = 120;
google_ad_height = 600;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
</div>
<div id="content">
$:content
</div>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-8405318-3");
pageTracker._trackPageview();
} catch(err) {}</script>
</body>
</html>
