*~
Thumbs.db
DEBUG
parser.out
parsetab.py
*.swp
*.pyc
log/*
tmp/*
lib/sql/*
lib/dist/*
lib/build/*
slides/*
structedtext/db/*
structedtext/ds/*
structedtext/csec/*
structedtext/db_slides/*
structedtext/hltb/*
structedtext/net/*
structedtext/food/*
structedtext/taichi/*
structedtext/novel/*
structedtext/travel/*
structedtext/stable_prog/*
structedtext/poems/*
structedtext/index.yaml
