tmp/*
log/*
*~
Thumbs.db
*.swp
*.pyc
lib/sql/*
lib/dist/*
lib/build/*
structedtext/db/*
structedtext/ds/*
structedtext/csec/*
structedtext/db_slides/*
structedtext/hltb/*
structedtext/net/*
structedtext/food/*
structedtext/taichi/*
structedtext/novel/*
structedtext/index.yaml
