/* platte url
 * http://www.colourlovers.com/palette/334115/Solo_Goldfish
 */

#leftbar {float:left;color:#f08e05;background:#fcec97;
          height:600px;
          width:23%;
          border-top:solid 1px gray;
          border-right:solid 1px gray;
          border-left:solid 2px black;
          border-bottom:solid 2px black;
          padding: 5px 5px 0 5px
         }

#leftbar #title {font-size:18pt;font-weight:bold;
                 color:white;background:transparent;
                 background-image:url('/img/adorned_with_gold.png');
                 padding-left:10pt;
                 padding-bottom:10pt;
                }

#leftbar .list    {font-size:10pt}
#leftbar .list th {text-align:left}
#leftbar .list th.title {font-size:12pt;color:#fcd614}
#leftbar .list td {border:solid 1px #fcd614}


#leftbar a          {color:#f08e05}
#leftbar a:visited  {color:#f08e05} 
#leftbar a:hover    {color:#f08e05}

#calendar    {width:75%}
#calendar th {vertical-align:top;text-align:left;color:#DFA3FF}
#calendar td {vertical-align:top;border:1px dashed #94D1FF;
              color:#94D1FF}
#calendar td#today {color:#FAA7EE;border:1px dashed #FAA7EE}

#calendar .date a         {color:#DFA3FF;font-size:10pt}
#calendar .date a:visited {color:#DFA3FF} 
#calendar .date a:hover   {color:#DFA3FF}

#calendar .list           {height:55pt;font-size:8pt} 
#calendar .list a         {color:#DFA3FF}
#calendar .list a:visited {color:#DFA3FF} 
#calendar .list a:hover   {color:#DFA3FF}

#calendar #controlbar           {font-size:14pt} 
#calendar #controlbar a         {font-size:12pt;color:#DFA3FF}
#calendar #controlbar a:visited {color:#DFA3FF} 
#calendar #controlbar a:hover   {color:#DFA3FF}

#content {font-size:12pt;color:#DFA3FF}
#content #notice {color:red}
#content th {text-align:left}

#content form {font-size:12pt;color:#DFA3FF}
#content form th {text-align:left;color:#DFA3FF}
#content input {color:darkblue}
#content textarea {color:darkblue;width:100%;}
#content form a         {color:#DFA3FF}
#content form a:visited {color:#DFA3FF} 
#content form a:hover   {color:#DFA3FF}

