#topbar {padding-bottom: 10px}
#homestay_name {border-bottom: 1pt solid blue}
#left_pane {float:left;width:30%}
/*div#calendar {width:60%}*/
.cal_operation {color:white;background:blue}
table#calendar {width:65%}

td {vertical-align:top}
a.available_room {font-size:10pt;
    padding:none;border:none;margin-top:2pt;vertical-align:baseline}
.room_list {height:50pt}

td.passed {background:silver}
td.passed .date_label {color:white;background:gray}

td.today {background:gold}
td.today .date_label {color:gray;background:lightyellow}

td.future {background:none}
td.future .date_label {color:white;background:navy}

td.label {text-align:right}
table.form {padding-bottom:30pt}

table.list tr:first-child {font-weight:bold}
table.list td:first-child {text-align:right}
