/* platte url
 * http://www.colourlovers.com/palette/1292599/Cotton_Candy?widths=1
 */
#notice {color:red}

#leftbar {float:left;color:#f08e05;background:#fcec97;
          height:620px;
          width:23%;
          border-top:solid 1px gray;
          border-right:solid 1px gray;
          border-left:solid 2px black;
          border-bottom:solid 2px black;
          padding: 5px 5px 0 5px
         }

#leftbar #title {font-size:18pt;font-weight:bold;
                 color:white;background:transparent;
                 background-image:url('/img/fish.png');
                 padding-left:10pt;
                 padding-bottom:10pt;
                }

#leftbar .list    {font-size:10pt}
#leftbar .list th {text-align:left}
#leftbar .list th.title {font-size:12pt;color:#fcd614}
#leftbar .list td {border:solid 1px #fcd614}

#leftbar a          {color:#f08e05}
#leftbar a:visited  {color:#f08e05} 
#leftbar a:hover    {color:#f08e05}

#calendar    {width:75%}
#calendar th {vertical-align:top;text-align:left;color:#DFA3FF}
#calendar td {vertical-align:top;border:1px dashed #94D1FF;
              color:#94D1FF}
#calendar td#today {color:#FAA7EE;border:1px dashed #FAA7EE}

#calendar .date           {color:#d885cc}

#calendar .date a         {color:#faa7ee;font-size:10pt}
#calendar .date a:visited {color:#faa7ee} 
#calendar .date a:hover   {color:#faa7ee}

#calendar .list           {height:68pt;font-size:8pt} 
#calendar .list a         {color:black}
#calendar .list a:visited {color:black} 
#calendar .list a:hover   {color:black}

#calendar #controlbar           {font-size:14pt} 
#calendar #controlbar a         {font-size:12pt;color:#DFA3FF}
#calendar #controlbar a:visited {color:#DFA3FF} 
#calendar #controlbar a:hover   {color:#DFA3FF}

#content {font-size:12pt;color:black}
#content th {text-align:left}

#content form {font-size:12pt;color:black}
#content form th {text-align:left;color:black}
#content input {color:darkblue}
#content textarea {color:darkblue;width:100%;}
#content form a         {color:black}
#content form a:visited {color:black} 
#content form a:hover   {color:black}
