<!DOCTYPE HTML PUBLIC '-//W3C//DTD HTML 4.01//EN' 'http://www.w3.org/tr/html4/strict.dtd'> 
<html lang="zh-tw"> 
<head><title>{{h.name}}訂房系統</title>
<link rel="stylesheet" href="/css/homestay.css"/>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
</head>
<body>
</div>
<div id="leftbar">
<div class="h1" id="homestay_name">{{h.name}}訂房系統</div>
<div class="recently_reservations">
<table>
<tr>
<td colspan="4">最近訂房單</td>
</tr>
<tr>
  <td>房客</td>
  <td>入住</td>
  <td>退房</td>
</tr>
{% for re in h.recently_reservations %}
    <tr>
        <td>{{re.name}}</td>
        <td>{{re.checkin|date:"md"}}</td>
        <td>{{re.checkout|date:"md"}}</td>
    </tr>
{% endfor %}
</table>
</div>
<div class="upperpane">
<table>
<tr>
<td colspan="4">房間清單</td>
</tr>
<tr>
  <td>名稱</td>
  <td>平日</td>
  <td>假日</td>
  <td><a href="/admin/new">新</a></td>
</tr>
{% for r in h.room_set %}
    <tr>
        <td>{{r.name}}</td>
        <td>{{r.price}}</td>
        <td>{{r.holiday_price}}</td>
        <td><a href="/admin/{{r.key}}/edit">改</a></td>
        <td><a href="/admin/{{r.key}}/delete">刪</a></td>
    </tr>
{% endfor %}
</table>
</div>
<div class="basepane">
    {{h.address}}<br/>
    {{h.owner}}<br/>
    {{h.email}}<br/>
    {{h.blog}}<br/>
    <a href="/{{h.key}}">訂房網址</a>
    <a href="{{logout_url}}">登出</a>
</div>
</div>
<div id="content">
{% block content %}
內容
{% endblock %}
</div>
</body>
</html>
