<!DOCTYPE HTML PUBLIC '-//W3C//DTD HTML 4.01//EN' 'http://www.w3.org/tr/html4/strict.dtd'> 
<html lang="zh-tw"> 
<head><title>{{h.name}}訂房系統</title>
<link rel="stylesheet" href="/css/{{h.css}}.css"/>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
</head>
<body>
<div id="leftbar">
<div id="title">{{h.name}}訂房管理系統</div>
<div class="block">
<table class="list">
<tr>
<th class="title" colspan="5" 
    title="近期訂房清單可顯示最近 10 筆訂房">近期訂房單</th>
</tr>
<tr>
  <th>房客</th>
  <th>房型</th>
  <th>入住</th>
  <th>退房</th>
  <th>訂金</th>
</tr>
{% for re in h.recently_reservations %}
    <tr>
        <td><a href="{{re.admin_show_path}}">{{re.name}}</a></td>
        <td>{{re.room.name}}</td>
        <td>{{re.checkin|date:"md"}}</td>
        <td>{{re.checkout|date:"md"}}</td>
        <td>{{re.deposit}}</td>
    </tr>
{% endfor %}
</table>
</div>
<div>


<table class="list">
<tr>
<th class="title">房間清單</th>
<th class="title" colspan="4">訂價清單</th>
</tr>
<tr>
  <th>客房<a href="/admin/room/new">新</a></th>
  <th>訂價<a href="/admin/price_types/new">新</a></th>
  <th>平日</th>
  <th>假日</th>
  <th>加床價</th>
</tr>
{% for rpt in h.rooms_price_types %}
<tr><td><a href={{rpt.0.edit_path}}>{{rpt.0.name}}</a></td>
    <td><a href={{rpt.1.edit_path}}>{{rpt.1.name}}</a></td>
    <td>{{rpt.1.price}}</td>
    <td>{{rpt.1.holiday_price}}</td>
    <td>{{rpt.1.bed_price}}</td>
</tr>
{% endfor %}
</table>

<table class="list">
<tr>

<th class="title" colspan="2">民宿基本資料</th>
<td><a href="{{h.admin_edit_path}}">編輯</a>
</tr><tr>

<td>帳號</td>
<td>
    {{h.owner}}
    <a href="{{logout_url}}">登出</a>
</td>
</tr><tr>

<td>地址</td><td>{{h.address}}</td>
</tr><tr>

<td colspan="2">
    <a href="{{h.calendar_path}}">訂房管理</a>
    <a href="{{h.holidays_path}}">假日檔管理</a>
    <a href="{{h.specials_path}}">特價管理</a>
</tr><tr>

<td colspan="2">
    <a href="{{h.blog}}">民宿網站</a>
    <a href="/{{h.key}}">訂房網站</a>
</td>
</tr>
</table>
</div>
</div>
<div id="content">
{% block content %}
內容
{% endblock %}
</div>
</body>
</html>
