<!DOCTYPE HTML PUBLIC '-//W3C//DTD HTML 4.01//EN' 'http://www.w3.org/tr/html4/strict.dtd'> 
<html lang="zh-tw"> 
<head><title>{{h.name}}訂房系統</title>
<link rel="stylesheet" href="/css/homestay.css"/>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
</head>
<body>
</div>
<div id="leftbar">
<div class="h1" id="homestay_name">{{h.name}}訂房系統</div>
<div class="upperpane">
<table>
<tr>
  <td></td>
  <td>平日</td>
  <td>假日</td>
  </tr>
{% for r in h.room_set %}
    <tr>
        <td>{{r.name}}</td>
        <td>{{r.price}}</td>
        <td>{{r.holiday_price}}</td>
    </tr>
{% endfor %}
</table>
</div>
<div class="basepane">
    {{h.address}}<br/>
    {{h.owner}}<br/>
    {{h.email}}<br/>
    {{h.blog}}<br/>
</div>
</div>
<div id="content">
{% block content %}
內容
{% endblock %}
</div>
</body>
</html>
