{% extends "base.html" %}
{% block content %}
<table class="table">
  <tr><th colspan="5">訂單清冊：
      <input type=button name=print value="列印" 
             onClick="javascript:window.print()"> 
  </th></tr>
  <tr><th>名稱</th><th>下單日</th><th>入住</th>
      <th>退房</th><th>已付訂金</th></tr>

  {% for b in h.bookings %}
      <tr>
      <td><a href="{{b.admin_edit_path}}">{{b.name}}</a></td>
        <td>{{b.create_date}}</td>
        <td>{{b.checkin}}</td>
        <td>{{b.checkout}}</td>
        <td>{{b.deposit}}</td>
      </tr>
  {% endfor %}

</table>

<a href="/admin">月曆</a>
{% endblock %} 
