{% extends "base.html" %}
{% block content %}
<script src="/js/validate_input.js"></script>
<script>
function check_form(f){
    with(f) {
        if(check_without(phrase,
           "必為輸入片語")==false) {
           return false 
        } 
    }
}
</script>
<div id="form_content">
<form method="post" 
      onsubmit="return check_form(this)"
      action="/admin/phrases/edit">

  <input name="key" type="hidden" value="{{p.key}}"/>

  <table>

    <tr><th colspan="2">片語維護作業</th></tr>

    <tr><td id="notice" colspan="2" style="display:none"></td></tr>

    <tr><td>片語</td>
        <td><input name="phrase" type="text" 
                   value="{{p.phrase}}"/></td>
    </tr>

    <tr><td><input type="submit" value="更新"/></td><td></td></tr>
  </table>
</form>

</div>
{% endblock %} 
