{% extends "base.html" %}
{% block content %}
<script src="/js/jquery-1.4.2.js" type="text/javascript"></script>
<script src="/js/validate_input.js"></script>
<script src="/js/date.format.js"></script>
<script>
function check_form(f){
    with(f) {
        if(check_date(checkin, 
            "入住日期格式錯誤，格式如20100912")==false){
           return false 
        } 

        if(check_date(checkout, 
            "退房日期格式錯誤，格式如20100912")==false){
           return false 
        } 

        if(check_phone(phone, 
            "聯絡電話格式錯誤，格式如0911831831或07-3351444")==false){
           return false 
        } 

        if(check_email(email, 
            "電子郵件格式錯誤，格式如abcd@example.com")==false){
           return false 
        } 

        if(check_integer(addbeds_num, 
           "加床數必須為整數")==false){
           return false 
        } 

        if(check_max(addbeds_num, 3,"加床數最多為三床")==false) {
           return false 
        } 

        $.ajax({
            url: '/admin/period_books',
            data: {reservation: key.value,
                   room: room.value, 
                   checkin: checkin.value, 
                   checkout: checkout.value},
            error: function(xhr) { 
                alert("伺服器發生問題！")
                return false
            },
            success: function(response) { 
                var books = eval('(' + response + ')');

                if (books.length == 0)
                    f.submit()
                
                if (books.length == 1)
                    if (books[0].key == key.value) {
                        f.submit()
                        return true
                    }

                $('#notice').empty()
                $('#notice').append("此房間於以下期間有訂房:"
                            ).append("<br/>")

                for (b in books) {
                    b = books[b]
                    if (b.key == key.value)
                        continue
                    $('#notice').append(b.name +
                                        b.checkin.format('yyyymmdd') + 
                                        ' ~ ' + 
                                        b.checkout.format('yyyymmdd')
                                       ).append("<br/>")
                }
                
                $('#notice').show()
            }
        });
        return false
    }
}
</script>

<div id="form_content">
  <form method="post" 
        onsubmit="return check_form(this)"
        action='/admin/edit'>

  <input name="key" type="hidden" value="{{res.key}}"/>
  <input name="room" type="hidden" value="{{res.room.key}}" />

  <table class="form">
    <tr><th colspan="2">訂房資料修改作業</th></tr>

    <tr><td id="notice" colspan="2" style="display:none"></td></tr>

    <tr><td>房間</td><td>{{r.name}}</td></tr>

    {% if one_price %}
    <tr><td>房型</td>
        <td>{{r.price_types.0.name}}
            <input name="price_type" type="hidden"
                   value='{{r.price_types.0.key}}'/>
    </td></tr>
    {% else %}
    <tr><td>房型</td>
        <td>
            <select name="price_type">
            {% for p in r.price_types %}
                {% ifequal p.key res.price_type.key %}
                    <option selected="true" value="{{p.key}}">{{p.name}}</option>
                {% else %}
                    <option value="{{p.key}}">{{p.name}}</option>
                {% endifequal %}
            {% endfor %}
            </select>
        </td>
    {% endif %}



    <tr><td>入住日期</td>
      <td><input name="checkin" type="text"
                 value='{{res.checkin|date:"Ymd"}}'/>
    </td></tr>

    <tr><td>退房日期</td>
        <td><input name="checkout" type="text"
                   value='{{res.checkout|date:"Ymd"}}'/>
    </td></tr>

    <tr><td>姓名</td>
        <td><input name="name" type="text" 
                   value="{{res.name}}"/>
    </td></tr>

    <tr><td>聯絡電話</td>
        <td><input name="phone" type="text"
                   value="{{res.phone}}"/>
    </td></tr>

    <tr><td>電子郵件</td>
        <td><input name="email" type="text"
                   value="{{res.email}}"/>
    </td></tr>

    <tr><td>加床數</td>
        <td><input name="addbeds_num" type="text"
                   value="{{res.addbeds_num}}"/>
    </td></tr>

    <tr><td>訂金</td>
        <td><input name="deposit" type="text"
                   value="{{res.deposit}}"/>
    </td></tr>

    <tr><td>訂單日期</td>
        <td>{{res.create_date|date:"Ymd"}}
            <input name="create_date" type="hidden" 
                   value='{{res.create_date|date:"Ymd"}}'/>
        </td>
     </tr>

    <tr><td colspan="2">備註</td></tr>
    <tr><td colspan="2">
        <textarea name="comment" rows="10">{{res.comment}}</textarea>
    </td></tr>

    <tr><td><input type="submit" value="更新"/>
        </td>
        <td>
            <a href="{{res.admin_calendar_path}}">月曆</a>
    </td></tr>

  </table>
</form>
</div>

{% endblock %} 
