{% extends "base.html" %}
{% block content %}
<script src="/js/validate_input.js"></script>
<script>
function check_form(f){
    with(f) {
        if(check_integer([price, holiday_price, addbed_price], 
           "價格必為整數")==false) {
           return false 
        } 
    }
}
</script>
<div id="form_content">
<form method="post" 
      onsubmit="return check_form(this)"
      action="/admin/room/{{r.key}}/edit">
  <table>
    <tr><th colspan="3">客房資料維護作業</th></tr>

    <tr><td id="notice" colspan="2" style="display:none"></td></tr>

    <tr><td>名稱</td>
        <td><input name="name" type="text" value="{{r.name}}"/></td>
        <td><input type="submit" value="更新"/></td>
    </tr>
  </table>
</form>

<table>
<tr><th colspan="5">定價維護作業</th></tr>

<tr><th>名稱</th><th>平日價</th><th>假日價</th><th>加床價</th>
<td><a href="/admin/price_types/new?room={{r.key|urlencode}}">新</a></td>
</tr>

{% for p in r.pricetype_set %}
<tr>
    <td>{{p.name}}</td>
    <td>{{p.price}}</td>
    <td>{{p.holiday_price}}</td>
    <td>{{p.bed_price}}</td>
    <td><a href="{{p.edit_path}}">改</a>
        <a href="{{p.delete_path}}">刪</a>
    </td>
</tr>
{% endfor %}

</table>

</div>
</body>
</html>
{% endblock %} 
