{% extends "base.html" %}
{% block content %}
<div id="form_content">
  <form method="post" action='{{holiday.edit_path}}'>
  <table class="form">
    <tr><th colspan="2">假日檔修改作業</th></tr>

    <tr><td>日期</td>
      <td><input name="date" type="text"
                 value='{{holiday.date|date:"Ymd"}}'/>
    </td></tr>

    <tr><td>名稱</td>
        <td><input name="name" type="text" 
                   value="{{holiday.name}}"/>
    </td></tr>

    <tr><td>是否為假日？</td>
        <td><input name="isholiday" type="text"
                   value='{{holiday.isholiday}}'/>
    </td></tr>

    <tr>
        <td><input type="submit" value="更新"/></td>
        <td><a href="{{holiday.calendar_path}}">回月曆</a>
        <td><a href="{{holiday.delete_path}}">刪除</a>
    </td></tr>

  </table>
</form>
</div>

{% endblock %} 
