{% extends "base.html" %}
{% block content %}
<script src="/js/validate_input.js"></script>
<script>
function check_form(f){
    with(f) {
        if(check_integer([price, holiday_price, addbed_price], 
           "價格必為整數")==false) {
           return false 
        } 
    }
}
</script>
<div id="form_content">
<form method="post" 
      onsubmit="return check_form(this)"
      action="/admin/room/{{r.key}}/edit">
  <table>
    <tr><th colspan="2">客房資料維護作業</th></tr>

    <tr><td id="notice" colspan="2" style="display:none"></td></tr>

    <tr><td>名稱</td>
        <td><input name="name" type="text" value="{{r.name}}"/></td>
    </tr>

    <tr><td colspan="2">可用的訂價</td></tr>
    {% for p in r.price_type_checkboxes %}
    <tr><td colspan="2">
        <input type="checkbox" name="price_type_keys" 
               {{ p.checked|yesno:"checked," }}
               value="{{p.key}}">{{p.name}}
    </td></tr>
    {% endfor %}

    <tr>
        <td><input type="submit" value="更新"/></td>
        <td><a href={{r.delete_path}}>刪除<a/></td>
    </tr>
  </table>
</form>

</div>
</body>
</html>
{% endblock %} 
