{% extends "base.html" %}
{% block content %}
<table id="calendar">
<tr id="controlbar"><td colspan="7">
{{month|date:"Y-m"}} 
<a href="/admin">今天</a>
<a href="{{last_month_path}}">上月</a>
<a href="{{next_month_path}}">下月</a>
</td></tr>
<tr id="label">
<th>一</th><th>二</th><th>三</th><th>四</th>
<th>五</th><th>六</th><th>日</th>
</tr>
{% for weekly_books in monthly_books %}
    <tr class="week">
    {% for d in weekly_books %}
        <td
        {% ifequal d.date today %}
           id="today"
        {% endifequal %}
        >
        <div class="date">{{d.date|date:"d"}}</div>
        <div class="list">
        {% for b in d.daily_books %}
            <div class="listitem">

            {% ifequal b.kind "Reservation" %}
                <a href="{{b.admin_show_path}}">{{b.name}}</a>
            {% else %}
                <a href="/admin/{{b.key}}/{{d.date|date:"Ymd"}}">
                   {{b.name}}</a>
            {% endifequal %}

            </div>
        {% endfor %}
        </div>
        </td>
    {% endfor %}
    </tr>
{% endfor %}
</table>
{% endblock %} 
