{% extends "base.html" %}
{% block content %}
<table id="calendar">
<tr id="operation"><td colspan="7">
{{month|date:"Y-m"}} 
<a href="/admin/{{h.key}}">今天</a>
<a href="/admin/{{h.key}}/{{last_month|date:"Ym"}}">上月</a>
<a href="/admin/{{h.key}}/{{next_month|date:"Ym"}}">下月</a>
</td></tr>
<tr id="label">
<th>一</th><th>二</th><th>三</th><th>四</th>
<th>五</th><th>六</th><th>日</th>
</tr>
{% for rooms_in_week in available_rooms_in_month %}
    <tr class="week">
    {% for r in rooms_in_week %}
        <td
        {% ifequal r.date today %}
           id="today"
        {% endifequal %}
        >
        <div class="date">{{r.date|date:"d"}}</div>
        <div class="available_rooms">
        {% for a in r.available_rooms %}
           <div><a class="available_room" 
           href="/{{a.key}}/{{r.date|date:"Ymd"}}">{{a.name}}</a></div>
        {% endfor %}
        </div>
        </td>
    {% endfor %}
    </tr>
{% endfor %}
</table>
{% endblock %} 
