{% extends "base.html" %}
{% block content %}
<div id="form_content">
  <form method="post" action='/admin/{{res.room.key}}/{{res.checkin|date:"Ymd"}}'>
  <table class="form">
    <tr><th colspan="2">訂房資料建立作業</th></tr>

    <tr><td>房間</td>
        <td><input type="text" readonly="true" value="{{res.room.name}}"/>
            <input name="room" type="hidden" value="{{res.room.key}}"/>
    </td></tr>

    <tr><td>入住日期</td>
      <td><input name="checkin" type="text"
                 value='{{res.checkin|date:"Ymd"}}'/>
    </td></tr>

    <tr><td>退房日期</td>
        <td><input name="checkout" type="text"
                   value='{{res.checkout|date:"Ymd"}}'/>
    </td></tr>

    <tr><td>姓名</td>
        <td><input name="name" type="text" 
                   value="{{res.name}}"/>
    </td></tr>

    <tr><td>聯絡電話</td>
        <td><input name="phone" type="text"
                   value="{{res.phone}}"/>
    </td></tr>

    <tr><td>電子郵件</td>
        <td><input name="email" type="text"
                   value="{{res.email}}"/>
    </td></tr>

    <tr><td>訂單日期</td>
        <td><input name="create_date" type="text" readonly="true"
                   value='{{res.checkout|date:"Ymd"}}'/>
    </td></tr>

    <tr><td colspan="2">備註</td></td></tr>
    <tr><td colspan="2">
        <textarea name="coment">{{res.comment}}</textarea>
    </td></tr>

    <tr><td><input type="submit" value="建立"/></td><td></td></tr>
  </table>
</form>
</div>

{% endblock %} 
