{% extends "base.html" %}
{% block content %}
<script src="/js/validate_input.js"></script>
<script>
function check_form(f){
    with(f) {
        if(check_integer([price, holiday_price, addbed_price], 
           "價格必為整數")==false) {
           return false 
        } 
    }
}
</script>
<div id="form_content">
<form method="post" 
      onsubmit="return check_form(this)"
      action="/admin/room/new">
  <table>
    <tr><th colspan="2">客房資料建立作業</th></tr>

    <tr><td id="notice" colspan="2" style="display:none"></td></tr>

    <tr><td>名稱</td>
        <td><input name="name" type="text" 
                   value="{{r.name}}"/></td>
    </tr>

    <tr><td colspan="2">訂價類別</td></tr>
    {% for p in h.price_types %}
    <tr><td colspan="2">
        <input type="checkbox" name="price_type_keys" value={{p.key}}>{{p.name}}
    </td></tr>
    {% endfor %}

    <tr><td><input type="submit" value="建立"/></td><td></td></tr>
  </table>
</form>
</div>
{% endblock %} 
