{% extends "base.html" %}
{% block content %}

<table>
  <tr><td colspan="2">訂房資料如下：</td></tr>
  <tr>
    <td>訂房編號</td>
    <td>{{res.key}}</td>
  </tr>

  <tr>
    <td>客房名稱</td>
    <td>{{res.room.name}}</td>
  </tr>

  <tr>
    <td>入住日期</td>
    <td>{{res.checkin}}</td>
  </tr>

  <tr>
    <td>退房日期</td>
    <td>{{res.checkout}}</td>
  </tr>

  <tr>
    <td>訂房日期</td>
    <td>{{res.create_date}}</td>
  </tr>

  <tr>
    <td>姓名</td>
    <td>{{res.name}}</td>
  </tr>

  <tr>
    <td>聯絡電話</td>
    <td>{{res.phone}}</td>
  </tr>

  <tr>
    <td>電子郵件</td>
    <td>{{res.email}}</td>
  </tr>

  <tr>
    <td>備註</td>
    <td>{{res.comment}}</td>
  </tr>

  <tr>
    <td colspan="2">
      <a href="/admin">回日曆</a>
    </td>
  </tr>
</table>
{% endblock %} 
