<table class="list">
<tr>
<th class="title" colspan="5">房間清單</th>
</tr>
<tr>
  <th>名稱</th>
  <th>平日</th>
  <th>假日</th>
  <th>加床價</th>
  <td><a href="/admin/room/new">新</a></td>
</tr>
{% for r in h.room_set %}
    <tr><td colspan="5">{{r.name}}</td></tr>
    {% for pt in r.pricetype_set %}
        <tr>
            <td>{{pt.name}}</td>
            <td>{{pt.price}}</td>
            <td>{{pt.holiday_price}}</td>
            <td>{{pt.bed_price}}</td>
            <td><a href="/admin/room/{{r.key}}/edit">改</a></td>
            <td><a href="/admin/room/{{r.key}}/delete">刪</a></td>
        </tr>
{% endfor %}
</table>
