{% extends "base.html" %}
{% block content %}
<table>
  <tr><th colspan="2">訂房資料如下：</th></tr>
  <tr>
    <td>訂房編號</td>
    <td>{{res.key}}</td>
  </tr>

  <tr>
    <td>客房</td>
    <td>{{res.room.name}}</td>
  </tr>

  <tr>
    <td>房型</td>
    <td>{{res.price_type.name}}</td>
  </tr>

  <tr>
    <td>入住日期</td>
    <td>{{res.checkin}}</td>
  </tr>

  <tr>
    <td>退房日期</td>
    <td>{{res.checkout}}</td>
  </tr>

  <tr>
    <td>訂房日期</td>
    <td>{{res.create_date}}</td>
  </tr>

  <tr>
    <td>姓名</td>
    <td>{{res.name}}</td>
  </tr>

  <tr>
    <td>聯絡電話</td>
    <td>{{res.phone}}</td>
  </tr>

  <tr>
    <td>電子郵件</td>
    <td>{{res.email}}</td>
  </tr>

  <tr>
    <td>加房數</td>
    <td>{{res.addbeds_num}}</td>
  </tr>

  <tr>
    <td>備註</td>
    <td>{{res.comment}}</td>
  </tr>
</table>

<table>
  <tr><th colspan="5">價格明細表：</th></tr>
  <tr><th>日期</th><th>房價</th><th>加床價</th><th>長住折扣</th>
      <th>單日價</th>
  </tr>

  {% for p in res.price_items %}
      <tr>
        <td>{{p.date}}</td>
        <td>{{p.room_price}}</td>
        <td>{{p.bed_price}}</td>
        <td>{{p.discount}}</td>
        <td>{{p.price}}</td>
      </tr>
  {% endfor %}

  <tr><td>{{res.checkout}}</td><td>退房</td></tr>

  <tr><td>總價</td><td>{{res.price}}</td>
  </tr>

  <tr>
    <td colspan="4">
      <a href="/admin">月曆</a>
      <a href="{{res.admin_edit_path}}">改</a>
      <a href="{{res.admin_delete_path}}">刪</a>
    </td>
  </tr>
</table>
{% endblock %} 
