@import url("/css/pygments_style.css");
#sidebar {float:left;width:13%}
#content {padding: 0 13% 0 13%}
#rightbar {float:right;width:13%}
table { 
  border:1px solid; 
  border-collapse:collapse; 
  width:200px; 
} 
tr { border:1px solid;text-align:center;font-style:bold }
td { border:1px solid; }
