{% extends "base.html" %}
{% block content %}
<form method="post" action="/sys/{{h.key}}/edit">
  <input name="key" type="hidden" value="{{h.key}}"/>
  <table class="form">
    <tr><th colspan="2">民宿資料修改作業</th></tr>

    <tr><td>名稱</td>
        <td><input name="name" type="text" value="{{h.name}}"/></td>
    </tr>

    <tr><td>帳號</td>
        <td><input name="owner" type="text" 
                   value="{{h.owner.email}}"/>
    </td></tr>

    <tr><td>電子郵件</td>
        <td><input name="email" type="text" value="{{h.email}}"/></td></tr>

    <tr><td>網址</td>
        <td><input name="blog" type="text" value="{{h.blog}}"/></td></tr>

    <tr><td>電話</td>
        <td><input name="phone" type="text" value="{{h.phone}}"/></td></tr>

    <tr><td>手機</td>
        <td><input name="mobile" type="text" value="{{h.mobile}}"/></td></tr>

    <tr><td>地址</td>
        <td><input name="address" type="text" value="{{h.address}}"/>
      </td>
    </tr>

    <tr><td>CSS</td>
        <td><input name="css" type="text" value="{{h.css}}"/></td>
    </tr>

    <tr><td colspan="2">備註</td></tr>
    <tr><td colspan="2">
        <textarea name="comment" rows="10">{{h.comment}}</textarea>
    </td></tr>

    <tr><td><input type="submit" value="儲存"/></td><td></td></tr>

  </table>
</form>
{% endblock %} 
