{% extends "base.html" %}
{% block content %}
<form method="post" action="new">
  <table class="form">
    <tr><th colspan="2">民宿清單</th></tr>

    <tr>
        <td>名稱</td>
        <td>民宿主人</td>
        <td>電子郵件</td>
        <td>地址</td>
        <td><a href="/sys/new">新</a></td>
        <td><a href="javascript:history.go(-1)">回</a></td>
    </tr>
    {% for h in homestays %}
    <tr>
      <td>{{h.name}}</td>
      <td>{{h.owner}}</td>
      <td>{{h.email}}</td>
      <td>{{h.address}}</td>
      <td><a href="/sys/{{h.key}}">查</a></td>
      <td><a href="/sys/{{h.key}}/edit">改</a></td>
      <td><a href="/homestays/{{h.key}}/delete">刪</a></td>
    </tr>
    {% endfor %}
</table>
{% endblock %} 
