{% extends "base.html" %}
{% block content %}
<table class="form">
<tr><th colspan="2">{{h.name}}</th></tr>

<tr><td>帳號</td><td>{{h.owner}}</td></tr>

<tr><td>電子郵件</td><td>{{h.email}}</td></tr>

<tr><td>網址</td><td>{{h.blog}}</td></tr>

<tr><td>電話</td><td>{{h.phone}}</td></tr>

<tr><td>手機</td><td>{{h.mobile}}</td></tr>

<tr><td>地址</td><td>{{h.address}}</td></tr>

<tr><td>CSS</td><td>{{h.css}}</td></tr>

<tr><td colspan="2">備註</td></tr>
<tr><td colspan="2">{{h.comment}}</td></tr>

<tr>
    <td colspan="2">
        <a href="/sys">回</a>
        <a href="/sys/{{h.key}}/edit">改</a>
        刪
    </td>
</tr>

</table>
{% endblock %} 
