<!DOCTYPE HTML PUBLIC '-//W3C//DTD HTML 4.01//EN' 'http://www.w3.org/tr/html4/strict.dtd'> 
<html lang="zh-tw"> 
<head><title>{{h.name}}訂房系統</title>
<link rel="stylesheet" href="/css/homestay.css"/>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
</head>
<body>
<div id="topbar">
<span id="homestay_name">{{h.name}}訂房系統</span>
<span id="help">說明</span>
</div>
<div id="leftbar">
{% block leftbar %}
房型
{% endblock %}
</div>
<div id="content">
{% block content %}
內容
{% endblock %}
</div>
</body>
</html>
