{% extends "base.html" %}
{% block content %}
<div id="form_content">
  <form method="post" action='/{{r.room.key}}/{{r.checkin|date:"Ymd"}}'>
  <table class="form">
    <tr><th colspan="2">訂房作業</th></tr>

    <tr><td>房間</td>
        <td>{{r.room.name}}
            <input name="room" type="hidden" value="{{r.room.key}}"/>
    </td></tr>

    <tr><td>入住日期</td>
      <td><input name="checkin" type="text"
                 value='{{r.checkin|date:"Ymd"}}'/>
    </td></tr>

    <tr><td>退房日期</td>
        <td><input name="checkout" type="text"
                   value='{{r.checkout|date:"Ymd"}}'/>
    </td></tr>

    <tr><td>姓名</td>
        <td><input name="name" type="text" 
                   value="{{r.name}}"/>
    </td></tr>

    <tr><td>聯絡電話</td>
        <td><input name="phone" type="text"
                   value="{{r.phone}}"/>
    </td></tr>

    <tr><td>電子郵件</td>
        <td><input name="email" type="text"
                   value="{{r.email}}"/>
    </td></tr>

    <tr><td>訂單日期</td>
        <td>{{r.create_date|date:"Ymd"}}
            <input name="create_date" type="hidden" 
                   value='{{r.create_date|date:"Ymd"}}'/>
    </td></tr>

    <tr><td colspan="2">備註</td></td></tr>
    <tr><td colspan="2">
        <textarea name="comment">{{r.comment}}</textarea>
    </td></tr>

    <tr><td><input type="submit" value="建立"/></td>
        <td>
            <a href="{{r.client_calendar_path}}">月曆</a>
        </td></tr>
  </table>
</form>
</div>

{% endblock %} 
