{% extends "base.html" %}
{% block content %}
<table>
  <tr><th colspan="2">您的訂房資料如下：</th></tr>
  <tr>
    <td>訂房編號</td>
    <td>{{res.key}}</td>
  </tr>

  <tr>
    <td>客房名稱</td>
    <td>{{res.room.name}}</td>
  </tr>

  <tr>
    <td>入住日期</td>
    <td>{{res.checkin}}</td>
  </tr>

  <tr>
    <td>退房日期</td>
    <td>{{res.checkout}}</td>
  </tr>

  <tr>
    <td>訂房日期</td>
    <td>{{res.create_date}}</td>
  </tr>

  <tr>
    <td>姓名</td>
    <td>{{res.name}}</td>
  </tr>

  <tr>
    <td>聯絡電話</td>
    <td>{{res.phone}}</td>
  </tr>

  <tr>
    <td>電子郵件</td>
    <td>{{res.email}}</td>
  </tr>

  <tr>
    <td>備註</td>
    <td>{{res.comment}}</td>
  </tr>

  <tr><th colspan="2">價格明細表：</th></tr>
  <tr><th>日期</th><th>單價</th>
  </tr>

  <tr><td>{{res.checkin}}</td><td>入住</td>
  </tr>

  {% for p in res.price_items %}
      <tr>
        <td>{{p.date}}</td>
        <td>{{p.value}}</td>
      </tr>
  {% endfor %}

  <tr><td>總價</td><td>{{res.price}}</td>
  </tr>

  <tr><th colspan="2">訂房注意事項：</th></tr>
  <tr>
    <td colspan="2">{{res.room.homestay.notice}}</td>
  </tr>

  <tr><th colspan="2">若有任何問題歡迎來電：</th></tr>
  <tr>
    <td colspan="2">{{res.room.homestay.phone}}</td>
  </tr>

  <tr><th colspan="2">更多相關訊息請上我們的網站：</th></tr>
  <tr><td colspan="2">
      <a href="{{res.room.homestay.blog}}">{{res.room.homestay.blog}}</a>
   </td>
  </tr>

  <tr>
    <td colspan="2">

    <input type=button name=print value="列印訂房單" 
           onClick="javascript:window.print()"> 
      <a href="/{{res.room.homestay.key}}">月曆</a>
    </td>
  </tr>

</table>
{% endblock %} 
